allowedWritePaths=C:/project/ERP/**;C:/project/ERP/IN/**;C:/project/ERP/OUT/**;C:/project/ERP/ERROR/**
allowedReadPaths=C:/project/ERP/**;C:/project/ERP/IN/**;C:/project/ERP/OUT/**;C:/project/ERP/ERROR/**
allowedDeletePaths=C:/project/ERP/**;C:/project/ERP/IN/**;C:/project/ERP/OUT/**;C:/project/ERP/ERROR/**
