/file.png
/folder-closed.png
/folder.png
/node-closed-2.png
/node-closed-light.png
/node-closed.png
/node-collapsed-light.png
/node-expanded-light.png
/node-leaf-light.png
/node-opened-2.png
/node-opened-light.png
/node-opened.png
/sample.png
