.menusection-Configuration,
.menusection-AutoSetup,
.menusection-Info,
.menusection-Development,
.menusection-Plugins,
.menusection-Settings,
.menusection-Logging {
	background-color: #f9f9f9;
    color: #323232;
    padding: 1em;
    border: 1px solid #ccc;
    height: 3em;
    margin: 1em;
}

.topmenu a:hover { 
    color: #B4C3DA!important;
}
