wx.config.env.LDEV=LDEV.cnf
wx.config.env.DEV=DEV.cnf
wx.config.env.DEV=Messaging_DEV.xml
wx.config.env.QA=QA.cnf
wx.config.env.QA=Messaging_QA.xml
wx.config.env.PROD=Messaging_PROD.xml
wx.config.env.PROD=PROD.cnf


priv.getConfigurations.service.999.packageName=MyMicroService

priv.getConfigurations.service.1.packageName=NICPersonBusLyr

priv.getConfigurations.service.2.packageName=NICContactBusLyr

priv.getConfigurations.service.3.packageName=NICRegistrationBusLyr

priv.getConfigurations.service.4.packageName=NICContactBusLyr

priv.getConfigurations.service.5.packageName=NICEmailBusLyr

priv.getConfigurations.service.6.packageName=NICEmailBusLyr

priv.getConfigurations.service.7.packageName=NICRegistrationBusLyr

priv.getConfigurations.service.8.packageName=NICRegistrationBusLyr

priv.getConfigurations.service.9.packageName=NICReportedDocBusLyr

priv.getConfigurations.service.10.packageName=NICReportedDocBusLyr

priv.getConfigurations.service.11.packageName=NICIDCardBusLyr

priv.getConfigurations.service.12.packageName=NICIDCardBusLyr

priv.getConfigurations.service.13.packageName=NICNotificationBusLyr

priv.getConfigurations.service.14.packageName=NICNotificationBusLyr

priv.getConfigurations.service.15.packageName=NICNotificationBusLyr

priv.getConfigurations.service.16.packageName=NICBiometricsBusLyr

priv.getConfigurations.service.17.packageName=NICBiometricsBusLyr
